@page "/roles"
@using Microsoft.EntityFrameworkCore
@using Microsoft.AspNetCore.Components.QuickGrid
@using NEXTGroup3.Models
@using NEXTGroup3.Data
@implements IAsyncDisposable
@inject IDbContextFactory<NEXTGroup3.Data.NEXTGroup3Context> DbFactory

<PageTitle>Index</PageTitle>

<h1>Index</h1>

<p>
    <a href="roles/create">Create New</a>
</p>

<QuickGrid Class="table" Items="context.Roles">

    <TemplateColumn Context="roles">
        <a href="@($"roles/edit?id={roles.Id}")">Edit</a> |
        <a href="@($"roles/details?id={roles.Id}")">Details</a> |
        <a href="@($"roles/delete?id={roles.Id}")">Delete</a>
    </TemplateColumn>
</QuickGrid>

@code {
    private NEXTGroup3Context context = default!;

    protected override void OnInitialized()
    {
        context = DbFactory.CreateDbContext();
    }

    public async ValueTask DisposeAsync() => await context.DisposeAsync();
}
