.question-nav-style {
    background-color: #000000;
    color: #f7550d;
}

.question-nav-style h2 {
    color: #f7550d;
    font-weight: 400;
    margin: 0;
    padding:0;
    margin-right: 5px;
}

.question-nav-style h2:hover{
    color: #fff;
}

.next-logo{
    padding:10px
}

.next-logo img{
    width:80px;
    height:40px;
}

/* TEXT BASED QUESTIONS */

.text-answer-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 10px;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin-top: 5%;
}

.text-answer-btn {
    height: 250px;
    width: 250px;
    margin: 5px;
    text-wrap: wrap;
    background-color: #DFDCD2;
}

.text-answer-btn:hover {
    background-color: #000000;
}

.text-centering {
    margin: auto;
    width: 50%;
    text-align: center;
    margin-top: 2%;
}

